/* Contact */
.contact {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    align-items: center;
    row-gap: 6rem;
  }
  
  .contact__description {
    font-size: var(--font-size-20);
    line-height: 1.9;
    /* margin-top: 8.7rem; */
  }
  
  .contact__email {
    font-weight: var(--font-weight-bold);
    margin: 2.5rem 0;
  }
  
  .contact__social {
    transition: var(--transition-timing);
  }
  
  .contact__social:hover {
    transform: scale(1.2);
  }
  
  .img__icon {
    width: 30px;
    height: 30px;
  }
  
  html:has(.toggle__checkbox:checked) .img__icon {
    background-color: var(--color-white);
    border-radius: 3px;
  }
  
  .contact__inputs {
    display: flex;
    gap: 3rem;
  }
  
  .contact__input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0.1rem solid var(--color-green);
    flex: 1;
  }
  
  .contact__textarea {
    width: 100%;
    margin-top: 4rem;
  }
  
  ::placeholder {
    color: var(--color-text);
  }
  .contact__input,
  .contact__textarea {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .contact__button {
    background-color: var(--color-link-bg);
    color: var(--color-white);
    padding: 1.7rem 1.8rem;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-24);
    margin-top: 3.4rem;
    transition: 0.3s;
  }
  
  .contact__button:hover {
    background-color: var(--color-green);
    scale: 1.04;
    transition: 0.3s;
  }
  /* End Contact */